.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 25vh;
  padding-right: 25vh;
}

.nav-right {
  display: flex;
  align-items: center;
}

.title {
  font-size: 2.5rem;
  color: white;
  font-weight: bold;
}

.title:hover {
  color: lightgrey;
  font-weight: 680;
}

.sign-in {
  background: none;
  color: white;
  font-size: 1.6rem;
  margin-top: 26px;
  margin-left: 20px;
  outline: 1px solid white;
  height: 80px;
  width: 160px;
}

.sign-in:hover {
  color: lightgrey;
  outline: 1px solid lightgrey;
  font-weight: 600;
}

.cl-userButtonTrigger, .cl-userButtonBox, .cl-avatarBox {
  height: 50px;
  width: 50px
}

.archive-button {
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  padding-right: 40px;
  text-decoration: none;
}

.archive-button:hover {
  cursor: pointer;
  color: lightgrey;
  font-weight: 670;
}

.home-button {
  text-decoration: none;
}